@model OrangeBricks.Web.Controllers.Property.ViewModels.BookViewingViewModel

@{
    ViewBag.Title = "BookViewing";
}

<h2>BookViewing</h2>

<p>When would you like to book a viewing appointment for the @Model.PropertyType on @Model.StreetName?</p>

@using (Html.BeginForm("BookViewing", "Property", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ViewingAt, "View At", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.Hidden("PropertyId", Model.PropertyId)
            @Html.TextBoxFor(m => m.ViewingAt, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Book Viewing" />
        </div>
    </div>
}

