@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@{
    ViewBag.Title = "My Offers";
}

<h2>My Offers</h2>

<p>Here is a list of your offers:</p>

@foreach (var offer in Model.MyOffers)
{
    <hr />
    <div>
        <p><strong>Property type:</strong> @offer.PropertyType</p>
        <p><strong>Number of bedrooms:</strong> @offer.NumberOfBedrooms</p>
        <p><strong>Street name:</strong> @offer.StreetName</p>
        <p><strong>Offer Amount: </strong> £@offer.Amount</p>
        <p><strong>Offer Made At: </strong> @offer.CreatedAt.ToLongTimeString() on @offer.CreatedAt.ToShortDateString()</p>
        <p><strong>Status: </strong> @offer.Status</p>
    </div>
}